[Unit]
Description=Puma application server
After=nginx.service

[Service]
Type=simple
User=puma
WorkingDirectory=/var/www/html/current/
RuntimeDirectory=/var/run/puma
RuntimeDirectoryMode=0755
ExecStart=/usr/local/bin/bundle exec puma -C /etc/puma/puma.rb --environment {{rails_env}}
ExecStop=/usr/local/bin/bundle exec pumactl -S /var/run/puma/puma.state stop
Restart=on-failure
TimeoutStopSec=120

[Install]
WantedBy=default.target